Repository SonsOfPHP/sonsofphp, changes with the labels that .github/labeler.yml gives for each.
All labels: Bard, Cache, Clock, Common, CQRS, EventDispatcher, EventSourcing, FeatureToggle, Filesystem, HttpFactory, HttpMessage, JSON, Money, Queue, Version, Contracts, documentation

.github/labeler.yml:

Bard:
  - docs/bard/*
  - src/SonsOfPHP/Bard/*

Cache:
  - docs/components/cache/*
  - src/SonsOfPHP/**/Cache/*

Clock:
  - docs/components/clock/*
  - src/SonsOfPHP/**/Clock/*

Common:
  - docs/components/common/*
  - src/SonsOfPHP/**/Common/*

CQRS:
  - docs/components/cqrs/*
  - src/SonsOfPHP/**/Cqrs/*

EventDispatcher:
  - docs/components/event-dispatcher/*
  - src/SonsOfPHP/**/EventDispatcher/*

EventSourcing:
  - docs/components/event-sourcing/*
  - src/SonsOfPHP/**/EventSourcing/*

FeatureToggle:
  - docs/components/feature-toggle/*
  - src/SonsOfPHP/**/FeatureToggle/*

Filesystem:
  - docs/components/filesystem/*
  - src/SonsOfPHP/**/Filesystem/*

HttpFactory:
  - docs/components/http-factory/*
  - src/SonsOfPHP/**/HttpFactory/*

HttpMessage:
  - docs/components/http-message/*
  - src/SonsOfPHP/**/HttpMessage/*

JSON:
  - docs/components/json/*
  - src/SonsOfPHP/**/Json/*

Money:
  - docs/components/money/*
  - src/SonsOfPHP/**/Money/*

Queue:
  - docs/components/queue/*
  - src/SonsOfPHP/**/Queue/*

Version:
  - docs/components/version/*
  - src/SonsOfPHP/**/Version/*

Contracts:
  - docs/contracts/**
  - src/SonsOfPHP/Contract/**

documentation:
  - docs/**

more common interfaces
  bard.json
  src/SonsOfPHP/Component/Common/.gitattributes
  src/SonsOfPHP/Component/Common/.gitignore
  src/SonsOfPHP/Component/Common/LICENSE
  src/SonsOfPHP/Component/Common/README.md
  src/SonsOfPHP/Component/Common/composer.json
  src/SonsOfPHP/Contract/Common/ArrayableInterface.php
  src/SonsOfPHP/Contract/Common/JsonableInterface.php
Labels: Common, Contracts

various changes, needs testing
  src/SonsOfPHP/Bridge/Symfony/Cqrs/Command/AbstractOptionsResolverCommandMessage.php
  src/SonsOfPHP/Bridge/Symfony/Cqrs/Tests/Command/AbstractOptionsResolverCommandMessageTest.php
  src/SonsOfPHP/Component/Cqrs/AbstractMessage.php
  src/SonsOfPHP/Component/Cqrs/Command/AbstractCommandMessage.php
  src/SonsOfPHP/Component/Cqrs/Command/AbstractCommandMessageHandler.php
  src/SonsOfPHP/Component/Cqrs/Command/CommandMessageHandlerInterface.php
  src/SonsOfPHP/Component/Cqrs/Query/AbstractQueryMessage.php
  src/SonsOfPHP/Component/Cqrs/Query/AbstractQueryMessageHandler.php
  src/SonsOfPHP/Component/Cqrs/Query/QueryMessageHandlerInterface.php
  src/SonsOfPHP/Contract/Cqrs/Command/CommandMessageHandlerInterface.php
  src/SonsOfPHP/Contract/Cqrs/Command/CommandMessageInterface.php
  src/SonsOfPHP/Contract/Cqrs/Exception/CqrsExceptionInterface.php
  src/SonsOfPHP/Contract/Cqrs/MessageHandlerInterface.php
  src/SonsOfPHP/Contract/Cqrs/MessageInterface.php
  src/SonsOfPHP/Contract/Cqrs/Query/QueryMessageHandlerInterface.php
  src/SonsOfPHP/Contract/Cqrs/Query/QueryMessageInterface.php
Labels: CQRS, Contracts

updates
  src/SonsOfPHP/Component/Cqrs/Command/AbstractCommandMessage.php
  src/SonsOfPHP/Component/Cqrs/Query/AbstractQueryMessage.php
  src/SonsOfPHP/Contract/Cqrs/CommandBusInterface.php
  src/SonsOfPHP/Contract/Cqrs/CommandHandlerProviderInterface.php
  src/SonsOfPHP/Contract/Cqrs/Exception/CqrsExceptionInterface.php
  src/SonsOfPHP/Contract/Cqrs/Exception/NoHandlerExceptionInterface.php
  src/SonsOfPHP/Contract/Cqrs/MessageInterface.php
  src/SonsOfPHP/Contract/Cqrs/QueryBusInterface.php
  src/SonsOfPHP/Contract/Cqrs/QueryHandlerProviderInterface.php
Labels: CQRS, Contracts

various updates
  docs/contracts/common/index.md
  docs/contracts/cqrs/index.md
  src/SonsOfPHP/Bridge/Symfony/Cqrs/Command/AbstractOptionsResolverCommandMessage.php
  src/SonsOfPHP/Component/Cqrs/AbstractMessage.php
  src/SonsOfPHP/Component/Cqrs/Command/AbstractCommandMessage.php
  src/SonsOfPHP/Component/Cqrs/Tests/AbstractMessageTest.php
  src/SonsOfPHP/Contract/Cqrs/Command/CommandBusInterface.php
  src/SonsOfPHP/Contract/Cqrs/Command/CommandHandlerProviderInterface.php
  src/SonsOfPHP/Contract/Cqrs/MessageHandlerInterface.php
  src/SonsOfPHP/Contract/Cqrs/MessageHandlerProviderInterface.php
  src/SonsOfPHP/Contract/Cqrs/MessageInterface.php
  src/SonsOfPHP/Contract/Cqrs/Query/QueryBusInterface.php
  src/SonsOfPHP/Contract/Cqrs/Query/QueryHandlerProviderInterface.php
  src/SonsOfPHP/Contract/Cqrs/Query/QueryMessageHandlerInterface.php
  src/SonsOfPHP/Contract/Cqrs/README.md
  src/SonsOfPHP/Contract/EventSourcing/README.md
  src/SonsOfPHP/Contract/FeatureToggle/README.md
  src/SonsOfPHP/Contract/Filesystem/README.md
  src/SonsOfPHP/Contract/Money/README.md
  src/SonsOfPHP/Contract/Version/README.md
Labels: CQRS, EventSourcing, FeatureToggle, Filesystem, Money, Version, Contracts, documentation

more cqrs stuff
  src/SonsOfPHP/Component/Cqrs/AbstractMessage.php
  src/SonsOfPHP/Component/Cqrs/Tests/AbstractMessageTest.php
  src/SonsOfPHP/Contract/Cqrs/MessageInterface.php
Labels: CQRS, Contracts

updates
  src/SonsOfPHP/Component/Cqrs/Command/CommandBus.php
  src/SonsOfPHP/Component/Cqrs/MessageHandlerProvider.php
  src/SonsOfPHP/Component/Cqrs/Tests/MessageHandlerProviderTest.php
  src/SonsOfPHP/Contract/Cqrs/Command/CommandBusInterface.php
  src/SonsOfPHP/Contract/Cqrs/Command/CommandHandlerProviderInterface.php
  src/SonsOfPHP/Contract/Cqrs/MessageHandlerInterface.php
  src/SonsOfPHP/Contract/Cqrs/MessageHandlerProviderInterface.php
  src/SonsOfPHP/Contract/Cqrs/Query/QueryHandlerProviderInterface.php
Labels: CQRS, Contracts
