Repository SonsOfPHP/sonsofphp, changes with the labels that .github/labeler.yml gives for each.
All labels: Bard, Clock, CQRS, EventDispatcher, EventSourcing, FeatureToggle, Filesystem, Http, HttpClient, HttpFactory, HttpHandler, HttpMessage, JSON, Money, Queue, Version, documentation

.github/labeler.yml:

Bard:
  - docs/bard/*
  - src/SonsOfPHP/Bard/*

Clock:
  - docs/components/clock/*
  - src/SonsOfPHP/Component/Clock/*

CQRS:
  - docs/components/cqrs/*
  - src/SonsOfPHP/**/Cqrs/*

EventDispatcher:
  - docs/components/event-dispatcher/*
  - src/SonsOfPHP/**/EventDispatcher/*

EventSourcing:
  - docs/components/event-sourcing/*
  - src/SonsOfPHP/**/EventSourcing/*

FeatureToggle:
  - docs/components/feature-toggle/*
  - src/SonsOfPHP/**/FeatureToggle/*

Filesystem:
  - docs/components/filesystem/*
  - src/SonsOfPHP/**/Filesystem/*

Http:
  - docs/components/http/*
  - src/SonsOfPHP/**/Http/*

HttpClient:
  - docs/components/http-client/*
  - src/SonsOfPHP/**/HttpClient/*

HttpFactory:
  - docs/components/http-factory/*
  - src/SonsOfPHP/**/HttpFactory/*

HttpHandler:
  - docs/components/http-handler/*
  - src/SonsOfPHP/**/HttpHandler/*

HttpMessage:
  - docs/components/http-message/*
  - src/SonsOfPHP/**/HttpMessage/*

JSON:
  - docs/components/json/*
  - src/SonsOfPHP/**/Json/*

Money:
  - docs/components/money/*
  - src/SonsOfPHP/**/Money/*

Queue:
  - docs/components/queue/*
  - src/SonsOfPHP/**/Queue/*

Version:
  - docs/components/version/*
  - src/SonsOfPHP/**/Version/*

documentation:
  - docs/**

composer.json
  src/SonsOfPHP/Component/HttpMessage/composer.json
Labels: HttpMessage

http-message
  bard.json
  composer.json
  src/SonsOfPHP/Component/Http/composer.json
  src/SonsOfPHP/Component/HttpClient/composer.json
  src/SonsOfPHP/Component/HttpFactory/composer.json
  src/SonsOfPHP/Component/HttpHandler/composer.json
  src/SonsOfPHP/Component/HttpMessage/Exception/HttpMessageException.php
  src/SonsOfPHP/Component/HttpMessage/Message.php
  src/SonsOfPHP/Component/HttpMessage/Request.php
  src/SonsOfPHP/Component/HttpMessage/Response.php
  src/SonsOfPHP/Component/HttpMessage/ServerRequest.php
  src/SonsOfPHP/Component/HttpMessage/Stream.php
  src/SonsOfPHP/Component/HttpMessage/Tests/MessageTest.php
  src/SonsOfPHP/Component/HttpMessage/Tests/RequestTest.php
  src/SonsOfPHP/Component/HttpMessage/Tests/ResponseTest.php
  src/SonsOfPHP/Component/HttpMessage/Tests/ServerRequestTest.php
  src/SonsOfPHP/Component/HttpMessage/Tests/StreamTest.php
  src/SonsOfPHP/Component/HttpMessage/Tests/UploadedFileTest.php
  src/SonsOfPHP/Component/HttpMessage/Tests/UriTest.php
  src/SonsOfPHP/Component/HttpMessage/UploadedFile.php
  src/SonsOfPHP/Component/HttpMessage/Uri.php
  src/SonsOfPHP/Component/HttpMessage/composer.json
Labels: Http, HttpClient, HttpFactory, HttpHandler, HttpMessage

cs fixes
  src/SonsOfPHP/Component/HttpClient/composer.json
  src/SonsOfPHP/Component/HttpFactory/composer.json
  src/SonsOfPHP/Component/HttpHandler/composer.json
  src/SonsOfPHP/Component/HttpMessage/Exception/HttpMessageException.php
  src/SonsOfPHP/Component/HttpMessage/Message.php
  src/SonsOfPHP/Component/HttpMessage/Request.php
  src/SonsOfPHP/Component/HttpMessage/Response.php
  src/SonsOfPHP/Component/HttpMessage/Tests/ServerRequestTest.php
  src/SonsOfPHP/Component/HttpMessage/Uri.php
Labels: HttpClient, HttpFactory, HttpHandler, HttpMessage

requirements
  src/SonsOfPHP/Component/Http/README.md
  src/SonsOfPHP/Component/Http/composer.json
  src/SonsOfPHP/Component/HttpClient/composer.json
  src/SonsOfPHP/Component/HttpFactory/composer.json
  src/SonsOfPHP/Component/HttpMessage/composer.json
Labels: Http, HttpClient, HttpFactory, HttpMessage

composer stuff
  composer.json
  src/SonsOfPHP/Component/Http/composer.json
  src/SonsOfPHP/Component/HttpClient/composer.json
  src/SonsOfPHP/Component/HttpFactory/composer.json
  src/SonsOfPHP/Component/HttpHandler/composer.json
  src/SonsOfPHP/Component/HttpMessage/composer.json
Labels: Http, HttpClient, HttpFactory, HttpHandler, HttpMessage

meh
  src/SonsOfPHP/Component/HttpClient/Client.php
  src/SonsOfPHP/Component/HttpFactory/RequestFactory.php
  src/SonsOfPHP/Component/HttpFactory/ResponseFactory.php
  src/SonsOfPHP/Component/HttpFactory/ServerRequestFactory.php
  src/SonsOfPHP/Component/HttpFactory/StreamFactory.php
  src/SonsOfPHP/Component/HttpFactory/UploadedFileFactory.php
  src/SonsOfPHP/Component/HttpFactory/UriFactory.php
Labels: HttpClient, HttpFactory

docs
  docs/components/http-client/index.md
  docs/components/http-factory/index.md
  docs/components/http-handler/index.md
  docs/components/http-message/index.md
  docs/components/http/index.md
  mkdocs.yml
Labels: Http, HttpClient, HttpFactory, HttpHandler, HttpMessage, documentation

updates
  src/SonsOfPHP/Component/HttpClient/Client.php
  src/SonsOfPHP/Component/HttpClient/Exception/ClientException.php
  src/SonsOfPHP/Component/HttpClient/Exception/NetworkException.php
  src/SonsOfPHP/Component/HttpClient/Exception/RequestException.php
  src/SonsOfPHP/Component/HttpClient/composer.json
  src/SonsOfPHP/Component/HttpFactory/RequestFactory.php
  src/SonsOfPHP/Component/HttpFactory/ResponseFactory.php
  src/SonsOfPHP/Component/HttpFactory/ServerRequestFactory.php
  src/SonsOfPHP/Component/HttpFactory/StreamFactory.php
  src/SonsOfPHP/Component/HttpFactory/UploadedFileFactory.php
  src/SonsOfPHP/Component/HttpFactory/UriFactory.php
  src/SonsOfPHP/Component/HttpFactory/composer.json
Labels: HttpClient, HttpFactory

comments and stuff
  src/SonsOfPHP/Component/HttpFactory/RequestFactory.php
  src/SonsOfPHP/Component/HttpFactory/ServerRequestFactory.php
  src/SonsOfPHP/Component/HttpFactory/Tests/RequestFactoryTest.php
  src/SonsOfPHP/Component/HttpFactory/Tests/ResponseFactoryTest.php
  src/SonsOfPHP/Component/HttpFactory/Tests/ServerRequestFactoryTest.php
  src/SonsOfPHP/Component/HttpFactory/Tests/StreamFactoryTest.php
  src/SonsOfPHP/Component/HttpFactory/Tests/UploadedFileFactoryTest.php
  src/SonsOfPHP/Component/HttpFactory/Tests/UriFactoryTest.php
  src/SonsOfPHP/Component/HttpFactory/UriFactory.php
  src/SonsOfPHP/Component/HttpMessage/Request.php
  src/SonsOfPHP/Component/HttpMessage/Response.php
  src/SonsOfPHP/Component/HttpMessage/ServerRequest.php
Labels: HttpFactory, HttpMessage

fix
  src/SonsOfPHP/Component/HttpFactory/Tests/RequestFactoryTest.php
Labels: none

meh
  src/SonsOfPHP/Component/HttpHandler/composer.json
Labels: HttpHandler

various updates
  src/SonsOfPHP/Component/HttpClient/Exception/ClientException.php
  src/SonsOfPHP/Component/HttpClient/Exception/RequestException.php
  src/SonsOfPHP/Component/HttpFactory/StreamFactory.php
  src/SonsOfPHP/Component/HttpFactory/Tests/ServerRequestFactoryTest.php
  src/SonsOfPHP/Component/HttpFactory/Tests/StreamFactoryTest.php
  src/SonsOfPHP/Component/HttpMessage/Method.php
  src/SonsOfPHP/Component/HttpMessage/Request.php
  src/SonsOfPHP/Component/HttpMessage/ServerRequest.php
  src/SonsOfPHP/Component/HttpMessage/Tests/RequestTest.php
  src/SonsOfPHP/Component/HttpMessage/Tests/UploadedFileTest.php
  src/SonsOfPHP/Component/HttpMessage/UploadedFile.php
  src/SonsOfPHP/Component/HttpMessage/UploadedFileError.php
Labels: HttpFactory, HttpMessage

updates
  CHANGELOG.md
  src/SonsOfPHP/Component/HttpHandler/composer.json
Labels: HttpHandler

meh
  docs/components/http-client/index.md
  docs/components/http-factory/index.md
  docs/components/http-message/index.md
  docs/components/http/index.md
Labels: Http, HttpClient, HttpFactory, HttpMessage, documentation

status enum
  src/SonsOfPHP/Component/HttpMessage/Status.php
Labels: HttpMessage

interfaces
  src/SonsOfPHP/Component/HttpClient/Client.php
  src/SonsOfPHP/Component/HttpClient/MiddlewareInterface.php
  src/SonsOfPHP/Component/HttpClient/RequestHandlerInterface.php
Labels: HttpClient

updates
  src/SonsOfPHP/Component/HttpMessage/Request.php
Labels: HttpMessage

various changes
  src/SonsOfPHP/Component/HttpMessage/MessageHeader.php
  src/SonsOfPHP/Component/HttpMessage/Response.php
  src/SonsOfPHP/Component/HttpMessage/Status.php
Labels: HttpMessage

rename
  src/SonsOfPHP/Component/HttpClient/ClientHandlerInterface.php
  src/SonsOfPHP/Component/HttpClient/ClientMiddlewareInterface.php
Labels: HttpClient

cs fixes
  src/SonsOfPHP/Component/HttpClient/Exception/ClientException.php
  src/SonsOfPHP/Component/HttpClient/Exception/NetworkException.php
  src/SonsOfPHP/Component/HttpClient/Exception/RequestException.php
Labels: none

deleted
  .github/CODEOWNERS
  docs/components/http-handler/index.md
  src/SonsOfPHP/Component/HttpHandler/.gitattributes
  src/SonsOfPHP/Component/HttpHandler/.gitignore
  src/SonsOfPHP/Component/HttpHandler/LICENSE
  src/SonsOfPHP/Component/HttpHandler/README.md
  src/SonsOfPHP/Component/HttpHandler/composer.json
Labels: HttpHandler, documentation

updates
  bard.json
  composer.json
  src/SonsOfPHP/Component/Http/composer.json
  src/SonsOfPHP/Component/HttpClient/composer.json
  src/SonsOfPHP/Component/HttpFactory/composer.json
Labels: Http, HttpClient, HttpFactory

http-message should be good to go for the most part
  src/SonsOfPHP/Component/HttpMessage/Message.php
  src/SonsOfPHP/Component/HttpMessage/Tests/MessageTest.php
  src/SonsOfPHP/Component/HttpMessage/Tests/RequestTest.php
Labels: HttpMessage

various changes
  src/SonsOfPHP/Component/HttpClient/Client.php
  src/SonsOfPHP/Component/HttpClient/ClientMiddlewareInterface.php
  src/SonsOfPHP/Component/HttpClient/Handler/CurlHandler.php
  src/SonsOfPHP/Component/HttpClient/HandlerInterface.php
  src/SonsOfPHP/Component/HttpClient/HandlerStack.php
  src/SonsOfPHP/Component/HttpClient/Middleware/HttpErrorMiddleware.php
  src/SonsOfPHP/Component/HttpClient/MiddlewareInterface.php
  src/SonsOfPHP/Component/HttpClient/Tests/HandlerStackTest.php
Labels: HttpClient

comments
  src/SonsOfPHP/Component/HttpClient/HandlerInterface.php
Labels: HttpClient

meh
  src/SonsOfPHP/Component/HttpClient/Test/MockHandler.php
  src/SonsOfPHP/Component/HttpClient/Test/NullHandler.php
  src/SonsOfPHP/Component/HttpClient/composer.json
Labels: HttpClient

its coming together, but has a few issues
  src/SonsOfPHP/Component/HttpClient/Client.php
  src/SonsOfPHP/Component/HttpClient/Exception/ClientException.php
  src/SonsOfPHP/Component/HttpClient/Exception/NetworkException.php
  src/SonsOfPHP/Component/HttpClient/Exception/RequestException.php
  src/SonsOfPHP/Component/HttpClient/Handler/CurlHandler.php
  src/SonsOfPHP/Component/HttpClient/HandlerStack.php
  src/SonsOfPHP/Component/HttpClient/Middleware/CallbackMiddleware.php
  src/SonsOfPHP/Component/HttpClient/Middleware/ContentLengthMiddleware.php
  src/SonsOfPHP/Component/HttpClient/MiddlewareInterface.php
  src/SonsOfPHP/Component/HttpClient/RequestMiddlewareInterface.php
  src/SonsOfPHP/Component/HttpClient/ResponseMiddlewareInterface.php
  src/SonsOfPHP/Component/HttpClient/Test/MockHandler.php
  src/SonsOfPHP/Component/HttpClient/Test/NullHandler.php
  src/SonsOfPHP/Component/HttpClient/Test/NullMiddleware.php
  src/SonsOfPHP/Component/HttpClient/Tests/ClientTest.php
  src/SonsOfPHP/Component/HttpClient/Tests/HandlerStackTest.php
  src/SonsOfPHP/Component/HttpClient/Tests/Test/MockHandlerTest.php
  src/SonsOfPHP/Component/HttpClient/Tests/Test/NullHandlerTest.php
  src/SonsOfPHP/Component/HttpMessage/Message.php
Labels: HttpClient, HttpMessage
